{% extends "base.html" %}
{% block content %}
<h2>Projetos</h2>
{% for p in projetos %}
    <article>
        {% if p.imagem %}<img src="{{ p.imagem.url }}" alt="{{ p.titulo }}">{% endif %}
        <h3>{{ p.titulo }}</h3>
        <p>{{ p.descricao }}</p>
        <small>Tecnologias: 
            {% for t in p.tecnologias.all %}{{ t.nome }}{% if not forloop.last %}, {% endif %}{% empty %}Nenhuma{% endfor %}
        </small>
        {% if gestor %}
            <a href="{% url 'projeto_editar' p.pk %}">Editar</a>
            <a href="{% url 'projeto_apagar' p.pk %}">Apagar</a>
        {% endif %}
    </article>
{% empty %}
    <p>Sem registos.</p>
{% endfor %}
{% if gestor %}
    <a href="{% url 'projeto_criar' %}">+ Novo Projeto</a>
{% endif %}
{% endblock %}