{% extends "base.html" %}
{% block content %}
<h2>Tecnologias</h2>
{% for t in tecnologias %}
    <article>
        {% if t.logo %}<img src="{{ t.logo.url }}" width="50">{% endif %}
        <h3>{{ t.nome }} ({{ t.get_categoria_display }})</h3>
        <p>Nível: {{ t.nivel }}/10</p>
        {% if gestor %}
            <a href="{% url 'tecnologia_editar' t.pk %}">Editar</a>
            <a href="{% url 'tecnologia_apagar' t.pk %}">Apagar</a>
        {% endif %}
    </article>
{% empty %}
    <p>Sem tecnologias.</p>
{% endfor %}
{% if gestor %}
    <a href="{% url 'tecnologia_criar' %}">+ Nova Tecnologia</a>
{% endif %}
{% endblock %}